.home-container {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.intro {
  display: flex;
  font-size: 32px;
  overflow-wrap: break-word;
  font-family: 'Work Sans', sans-serif;
  align-items: center;
  margin-right: 60px;
}

.profile-pic {
  display: inline-block;
  margin-left: 20px;
}

.profile-pic > img {
  width: 300px;
  height: 300px;
}
