.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(100%) auto 1fr;
}

.container-main {
  margin: 0px 10px;
  min-height: 90vh;
}

.container-footer {
  margin: 0px 20px;
}
