nav {
  max-width: 1720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, fit-content(100%));
}

#nav nav a {
  padding: 0 20px;
  align-self: center;
  text-decoration: none;
}

.nav-item {
  font-size: 20px;
  text-transform: lowercase;
  font-family: 'Work Sans', sans-serif;
}

.nav-name {
  padding: 0.25em 0;
  text-transform: lowercase;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  color: black;
}

.nav-name:hover {
  text-decoration: none;
}

.name-container {
  display: flex;
  justify-content: center;
}

.nav-group {
  display: flex;
  justify-content: center;
}
