@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './components';
@import './views/';

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fafffd;
}
