@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fafffd;
}
/* Site Layout */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(100%) auto 1fr;
  border: black 1px solid;
}

.container-nav {
  border: black 1px solid;
  margin: 5px;
}

.container-main {
  margin: 0px 20px;
  min-height: 90vh;

  border: black 1px solid;
}

.container-footer {
  margin: 0px 20px;
  border: black 1px solid;
}
/* End Site Layout */

/* Navigation */
nav {
  max-width: 1720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto repeat(4, fit-content(100%));
  /* border: black 1px solid; */
}

nav > a {
  /* border: black 1px solid; */
  align-self: center;
  text-decoration: none;
}

.nav-item {
  margin-right: 1.5em;
  font-size: 20px;
  text-transform: lowercase;
  font-family: 'Work Sans', sans-serif;
}

.nav-name {
  padding: 0.25em 0 0.25em 0.5em;
  text-transform: lowercase;
  font-size: xx-large;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
}

/* Main */

.profile-pic > img {
  width: 400px;
  height: 400px;
  border: 1px solid black;
}
